/***********************
    Base Element styles
************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #4c4c4c;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/***********************
    Base layout styles
************************/
.container {
    max-width: 1200px;
    margin: 40px auto;
}

.review-order-intro-heading {
    text-align: center;
    border-bottom: 1px solid rgba(160, 158, 158, .2);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.review-order-details {
    border: 1px solid rgba(160, 158, 158, .2);
    margin-bottom: 20px;
}

.review-order-details h2{
    background-color: rgba(160, 158, 158, .2);
    padding: 10px 0.3125em;
    margin-bottom: 20px;
}

.review-order-details-heading {
    font-weight: bold;
}

.review-order-details table
 {
    width:100%;
    text-align: justify;
}
.review-order-details th {
    font-weight: bolder;
}

.review-order-details td {
    padding: 10px 0px;
}

.qty-counter input[type='text'],
.qty-counter button,
.review-order-details button{
    padding: 10px 1em;
}
.qty-counter input[type='text']{
    width: 60px;
    margin-right: 10px;
    outline: 1px solid rgba(160, 158, 158, .2);
    border: 1px solid rgba(160, 158, 158, .2);
}

.qty-counter button,
.review-order-details button{
    outline: none;
    border: none;
    margin-right: 5px;
    font-size: 17px;
    border-radius: 2px;
}

.review-order-details button {
    color: #fff;
    font-size: 0.875em;
}

.order-subtotal-total p{
    /* border: 1px solid red; */
    padding: 20px 0px;
}

.subtotal-cost,
.total-cost{
    /* margin: 20px 0px; */
    /* border: 1px solid yellow; */
    font-weight: bold;
    font-size: 1.125rem;
    border-bottom: 1px solid rgba(160, 158, 158, .4);
}

.subtotal-cost{
    border-top: 1px solid rgba(160, 158, 158, .4);
    color: rgba(160, 158, 158, .8);
}

.total-cost {
    color: rgb(0, 0, 0);
}

.buynowBtn {
    text-align: right;
}
.buynowBtn button{
    border-radius: 40px;
    padding: 20px 1em;
    color: #fff;
    margin-top: 15px;
    width: 150px;
}
/***********************
    media queries
************************/

@media all  and (max-width: 768px){
    .container{
        padding: 15px  0.1265em ;
    }
    .review-order-intro-heading h1{
        font-size: 1.5rem;
    }

    .review-order-details h2 {
        font-size: 1.3em;
    }
    .qty-counter input[type='text'],
    .qty-counter button,
    .review-order-details button{
        padding: 6px 0.654;
    }

}

@media all and (min-width:780px){
    .container {
        width: 50%;
        padding: 15px 0.9375rem;
    }
    .review-order-details table {
        padding: 0px 1em;
    }

}


/***********************
    helper classes
************************/

.display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.display-flex-direction{
    flex-direction: column;
}
.hide-bullet-list {
    list-style: none;
}





